<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="AFTR Production" value="https://pkgs.dev.azure.com/AFTR/_packaging/c3b2a984-bc78-47a5-8bb1-f94c848b75fc/nuget/v3/index.json" />
        <add key="AFTR Prerelease" value="https://pkgs.dev.azure.com/AFTR/_packaging/88fbe37e-e5e8-46d9-9b05-e4b10490975e/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- To speed up load times -->
    <packageSourceMapping>
        <packageSource key="AFTR Production">
            <package pattern="Automation.*" />
            <package pattern="FuelTaxAutomation.*" />
            <package pattern="ConverterLib*"/>
            <package pattern="ProMiles*.*" />
            <package pattern="PM*.*" />
        </packageSource>
        <packageSource key="AFTR Prerelease">
            <package pattern="Automation.*" />
            <package pattern="FuelTaxAutomation.*" />
            <package pattern="ConverterLib*"/>
            <package pattern="ProMiles*.*" />
            <package pattern="PM*.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>